/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App{
  background-color: rgb(46, 63, 96);
}

h1{
  color: antiquewhite;
  font-family: Lilita One;
}
h3, h4, h5, p, a{
  color: antiquewhite;
  padding: 1rem;
  font-family: Indie Flower;
}
 



figure img {
  min-width: 400px;
  max-width: 600px;
}

.btn-custom{
  font-family: Indie Flower;
}

@media(max-width:425px){
  figure img {
    min-width: 200px;
    max-width: 300px;
  }
}
#textmeme  {
  
  padding-top: 20px;
  font-family: impact, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Cambia 200px al tamaño deseado */
  gap: 10px; /* Espacio entre las imágenes */
}

.grid-container div {
  border: 1px solid #ddd; /* Borde opcional para cada imagen */
  
}
